<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="{{ .Params.description }}"/>
    <title>{{ .Params.title }}</title>
    <script src="{{.Site.BaseURL}}history-page.js"></script>
    {{- $sass := resources.Get "history-page.scss" -}}
    {{- $style := $sass | resources.ToCSS -}}
    <link rel="stylesheet" href="{{ $style.RelPermalink | absURL }}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap" rel="stylesheet">
    <script src="https://storage.yandexcloud.net/hh-files/static/gsap.min.js"></script>
    <script src="https://storage.yandexcloud.net/hh-files/static/ScrollMagic.min.js"></script>
    <script src="https://storage.yandexcloud.net/hh-files/static/animation.gsap.min.js"></script>
    <script src="{{.Site.BaseURL}}history-page.js"></script>
    <script>
        var urls = {
            0: {
                "title": {{ .Params.title }},
                "description": {{ .Params.description }},
                "url": {{.Site.BaseURL}}
            },
            {{- range where .Site.Pages "Params.type" "static" -}}
            {{.Params.order}}: {
                "title": {{.Title}},
                "description": {{.Params.description}},
                "url": {{.Permalink}}
            },
            {{- end -}}
        }
    </script>
</head>