{% extends "base_generic.html" %}
{% load static %}
{% block head %}
    <meta name="description" content="{{ .Params.description }}"/>
    <link rel="stylesheet" href="{% static 'css/history-page.css' %}">
    <script src="https://storage.yandexcloud.net/hh-files/static/gsap.min.js"></script>
    <script src="https://storage.yandexcloud.net/hh-files/static/ScrollMagic.min.js"></script>
    <script src="https://storage.yandexcloud.net/hh-files/static/animation.gsap.min.js"></script>
    <script src="{% static 'js/history-page.js' %}"></script>
    <script>
        function setScroll(s_id) {
            let section = document.getElementById(s_id);

            let scrolled = window.scrollY;
            let etop = section.getBoundingClientRect().top;
            window.scrollTo(0, scrolled + etop - 50);
        }
        function load_content() {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', "{% static 'html/index.html' %}", true);
            xhr.send();

            xhr.onreadystatechange = function() {
                if (xhr.readyState != 4) return;

                if (xhr.status == 200) {
                    var body = document.getElementById("content-wrapper");
                    var section = document.getElementsByClassName("chapter")[0]
                    var s_id = section.getAttribute("id")

                    document.getElementById("content-wrapper").innerHTML = xhr.responseText ;
                    window['run_scrips']();
                    setScroll(s_id);
                }
            }
        }
        var urls = {
            {{- range where .Site.Pages "Params.type" "django_html" -}}
            {{.Params.order}}: {
                "title": {{.Title}},
                "description": {{.Params.description}},
                "url": {{.Params.django_url}}
            },
            {{- end -}}
        }
    </script>
{% endblock %}
{% block title %}
    <title>{{ .Params.title }}</title>
{% endblock %}
{% block content %}
    {{ if isset .Params "partial" }}
        {{ partial $.Params.partial . }}
    {{ end }}
    <script>
        load_content()
    </script>
{% endblock %}>