$background: #F6F6F2;
$font_main: #000000;

$ascent_blue: #9FC7D3;
$ascent_red: #CD471C;
$ascent_gray: #bbaf9b;
$light_gray: #dedacf;

$size_10_column: 110rem;
$size_8_column: 777rem;
$size_6_column: 66rem;
$size_5_column: 55rem;
$size_4_column: 44rem;
$size_2_column: 22rem;

$title_font: "Yeseva One";
$title_color: #35353a;

@font-face {
    font-family: "Yeseva One";
    src: url("https://storage.yandexcloud.net/hh-files/fonts/YesevaOne-Regular.ttf"),
        url("/YesevaOne-Regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: italic;
    src: url("https://storage.yandexcloud.net/hh-files/fonts/OpenSans-Italic.ttf"),
        url("/OpenSans-Italic.ttf");
}


html {
    font-size: 0.59vw;
}

body {
    background: $background;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

.content-wrapper {
    padding: 2rem 0;
}

.content-10-column {
    max-width: $size_10_column;
    margin: 0 auto;
    padding: 0 20px 50px 20px;
}


.content-8-column {
    max-width: $size_8_column;
    margin: 0 auto;
    padding: 0;
}

.content-6-column {
    margin: 0;
    max-width: $size_6_column;
    margin-left: calc(100% - #{$size_6_column});
    padding: 2rem 0;
}

.content-5-column {
    margin: 0;
    max-width: $size_5_column;
    margin-left: 50%;
    padding: 5rem 0;
}

/*----------------------- Типографика ------------------------------ */

.longread-h2 {
    margin: 60px 0 0 0;
    font-size: 2.2rem;
    line-height: 2.8rem;
}

p {
    font-size: 1.6rem;
    line-height: 2.5rem;
}

h1, h2 {
    font-family: $title_font;
    color: $title_color;
}

b {
    font-size: 1.6rem;
}

.text-intro {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 3rem;
    padding: 0;
}

.text-regular {
    padding: 1rem 0;
    font-size: 1.6rem;
    line-height: 2.5rem;
}

.text-annotation-wide {

    font-size: 1.6rem;
    line-height: 2.5rem;
    border-top: 6px solid $light_gray;
    border-bottom: 6px solid $light_gray;
    padding: 30px 15rem;
    margin: 60px 0 30px 0;
    width: 100%;
    width: calc(100% - 30rem);
}

.text-annotation-wide a {
    color: $font_main;
}

.number {
    margin: 6rem 0 4rem 0;
}
.number {
    .prefix, .measure {
        color: $ascent_red;
        font-family: $title_font;
        font-size: 4.8rem;
        line-height: 5rem;
    }

    .value {
        color: $ascent_red;
        font-family: $title_font;
        font-size: 6.4rem;
        line-height: 7rem;
        font-weight: 800;
    }

    .caption {
        font-size: 1.8rem;
        font-weight: 600;
        display: block;
        padding: 0.5rem 0;
    }
}
.quote-section {
    margin: 6rem 0 6rem 0;
    padding: 2rem 0;
    max-width: $size_10_column;
    font-style: italic;
    font-weight: 400;
    border-top: 2px solid $ascent_gray;
    border-bottom: 2px solid $ascent_gray;
}

.quote-section {

    .quote-content {
        max-width: $size_6_column;
        margin: 0 auto;
    }
    .quote-text {
        font-size: 1.8rem;
        line-height: 3rem;
    }
    .quote-author {
        display: block;
        color: $font_main;
        opacity: 0.7;
        font-size: 1.4rem;
    }
    .author-titul {
        display: block;
        color: $font_main;
        opacity: 0.7;
        font-size: 1.4rem;
    }
}

.in-text-ul {
    list-style: none;
    margin: 4rem 0;
    font-size: 1.6rem;
    line-height: 2.5rem;
    padding-left: 3rem;
    text-indent: -3rem;
}

.in-text-ul {

    li {
        margin: 1.5rem 0;
    }
    li:before {
        content: "■";
        font-size: 2rem;
        margin-right: 1rem;
        color: $font_main;

    }
}

/*----------------------- Всупительный баннер ------------------------------ */

.site-header {
    height: 80vh;
    max-height: 120rem;
    width: 100vw;
    position: relative;
    margin-bottom: 5rem;
}

.site-header {
    b {
        font-weight: normal;

    }

    .header-content {
        position: relative;
        width: 50%;
    }


    .text-section {
        position: relative;
        padding: 2rem 2rem 2rem 0;
        height: 100%;
        margin-left: 50%;
        width: 50%;
        width: calc(50% - 4rem);
    }

    .arrow {
        display: block;
        font-size: 4rem;
        cursor: pointer;
    }

    .header-cover-img-new {
        position: absolute;
        top: 10rem;
        right: 50%;
        right: calc(50% + 7rem);
        width: 50%;
        width: calc(50% - 10rem);
        height: auto;
    }
    /*----- Слайдер с фотографиями ------- */
    /*----- Возможно надо оставить -------- */
    /*----- и использовать в другом месте ------- */
    .header-img-frame {
        background: #ddd;
        position: absolute;
        margin: 1rem 0;
        top: 5rem;
        max-width: 100rem;
        border: 2rem solid $background;
        outline: 2px solid $light_gray;
        right: 50%;
        right: calc(50% + 7rem);
        width: 50%;
        width: calc(50% - 16rem);
        height: 100%;
        height: calc(100% - 20rem);
        overflow: hidden;
    }


    .header-img-frame {
        img {
            min-width: 100%;
            height: 100%;
            width: auto;
            position: absolute;
            -webkit-transition-property: opacity;
            -moz-transition-property: opacity;
            -o-transition-property: opacity;
            transition-property: opacity;
            -webkit-transition-duration: 2s;
            -moz-transition-duration: 2s;
            -o-transition-duration: 2s;
            transition-duration: 2s;
        }

        .img-hidden {
            opacity: 0;
        }
        .img-visible {
            opacity: 1;
        }
    }

}



.site-header {

    .header-container {
        max-width: 120rem;
        margin: 0 auto;
        padding: 2rem;
    }
    h1 {
        max-width: 60rem;
        font-size: 2rem;
        padding: 15rem 0 3rem 0;
    }
    h1 b {
        text-transform: uppercase;
        font-size: 7rem;
        color: $font_main;
    }
    h1 small {
        font-size: 3rem;
        font-weight: normal;
        color: $ascent_red;
        display: block;
        max-width: 45rem;
        margin: 1rem 0 0 0;
    }

    p {
        font-size: 1.8rem;
        line-height: 2.8rem;
        max-width: 70rem;
    }
}

/*----------------------- Заголовок главы ------------------------------ */

.chapter-header {
    max-width: $size_10_column;
    margin: 0 auto;
    padding: 0 20px;
}

.chapter-header {


    .chapter-header-top {
        margin: 0 auto;

        max-width: $size_5_column;
        margin-left: 50%;
    }

    .chapter-header-top {
        span {
            color: $ascent_red;
        }
        .chapter-num {
            display: block;

            font-size: 1.6rem;
            font-weight: 600;
            margin-bottom: 1rem;
        }
        .year {
            font-family: $title_font;
            font-size: 7.7rem;
            font-weight: 800;
            line-height: 8rem;
        }
        .year b {
            font-size: 9.5rem;

        }
    }

    .chapter-header-bottom {
        margin: 0 auto;
        padding: 20px 0;
        max-width: $size_5_column;
        margin-left: 50%;
    }

    .chapter-header-bottom h1 {
        max-width: $size_6_column;
        display: inline-block;
        font-size: 2.4rem;
        font-weight: 600;
        margin: 0 auto;
        padding: 10px 0;
        border-top: 1px solid $ascent_gray;
        border-bottom: 1px solid $ascent_gray;
    }
}

/*----------------------- Изображения ------------------------------ */


.img-section-inline {
    position: relative;
    margin: 30px 0 50px 0;
    padding: 0;
}

.img-section-left {
    position: absolute;
    margin: 1rem 0;
    top: 0;
    right: calc(#{$size_5_column + 4rem});
}

.paragraph-with-img {
    position: relative;
}

.img-section-inline {
    .img-caption {
        position: absolute;
        top: 0;
        left: 0;
        width: 20rem;

    }

    img {
        margin-left: 22rem;
        width: calc(#{$size_10_column - 22rem});
        height: auto;
    }
}

.img-section-left {
    img {
        max-width: 50rem;
        width: 100%;
        height: auto;
    }
}

.img-section .img-caption,
.img-section .img-caption a {
    color: $ascent_gray;
    font-size: 1.4rem;
    line-height: 2.1rem;
}

.svg-object {
    margin: 0 0 3rem 0;
    padding: 0;
}

.svg-object {
    .svg-fig-caption {
        display: block;
        max-width: $size_5_column;
        font-size: 1.6rem;
        margin-left: calc(100% - #{$size_5_column});
        margin-bottom: 20px;
    }
    object {
        width: 100%;
    }
}


/*----------------------- Навигация ------------------------------ */

.timeline-navigation {
    padding: 10px 0 20px 0;
}
.timeline-navigation {
    .timeline-item {
        display: block;
        color: $font_main;
        font-size: 1.6rem;
        line-height: 2.5rem;
        position: relative;
        margin: 10px 0;
    }
    b {
        position: absolute;
        top: 0;
        left: 0;
        font-family: $title_font;
        font-weight: normal;
        color: $font_main;
    }
    span {
        display: inline-block;
    }

    .years-range span {
        margin-left: 10rem;
    }

    .year-single span {
        margin-left: 7rem;
    }
}
.article-pagination {
    a {
        color: $title_color;
        font-family: $title_font;
        font-size: 1.8rem;
        text-decoration: none;
        padding: 10px 0;
        display: block;
        text-indent: -3rem;
        max-width: $size_5_column;
        margin-left: 50%;

    }


    .previous-page:before {
        content: "←";
        font-size: 2rem;
        width: 2rem;
        padding-right: 1rem;
    }

    .next-page:before {
        content: "→";
        font-size: 2rem;
        width: 2rem;
        padding-right: 1rem;
    }
}



@media screen and (max-width: 1440px) {
    html {
        font-size: 0.7vw;
    }

}

@media screen and (max-width: 800px) {

    html {
        font-size: 1.3vw;
    }

    .site-header {
        .text-section {
            position: relative;
            padding: 1rem;
            height: 100%;
            margin-left: 50%;
            width: 50%;
            width: calc(50% - 2rem);
        }

        .header-container {
            max-width: 120rem;
            margin: 0 auto;
            padding: 2rem;
        }

        h1 {
            max-width: 100%;
            font-size: 2rem;
            padding-top: 3rem;
        }

        h1 b {
            font-size: 3rem;
        }
        h1 small {
            font-size: 2rem;
            margin: 0.5rem 0 0 0;
        }

        p {
            font-size: 1.6rem;
            line-height: 2.5rem;
        }

        .header-img-frame {
            width: 100%;
            height: 50vh;
            position: relative;
            border: none;
            outline: none;
            top: 0;
            margin: 0;
            left: 0;
            overflow: hidden;
        }

        .header-cover-img-new {
            position: relative;
            width: 100%;
            top: 0.5rem;
            left: 0;
            width: calc(100% - 4rem);
            margin-bottom: 1rem;
        }
        .header-content {
            position: relative;
            width: 50%;
        }
        .text-section {
            position: relative;
            padding: 2rem;
            height: auto;
            margin-left: 0;
            width: 100%;
            width: calc(100% - 4rem);
        }

    }

    .text-annotation-wide {
        padding: 30px 7rem;
        width: 100%;
        width: calc(100% - 14rem);
    }


    .img-section {
        overflow: hidden;
    }
    .img-section-inline {
        .img-caption {
            position: relative;
            width: 100%;
            color: $ascent_gray;
            padding: 0 0 20px 0;
        }

        img {
            max-width: 100%;
            margin-left: 0;
            height: auto;
        }
    }

    .img-section {
        max-width: 100%;
    }

    .img-section-left {
        position: relative;
        margin: 1rem 0;
        top: 0;
        right: 0;
    }

    .quote-section {
        margin: 30px 0 50px 30px;
    }

        .content-5-column,
    .content-6-column,
    .chapter-header .chapter-header-top,
    .chapter-header .chapter-header-bottom {
        margin-left: auto;
    }

    .text-annotation-wide {
        padding: 30px 0;
        width: 100%;
    }

    .article-pagination a {
        margin-left: 30px;
    }

    .svg-object {
        .svg-fig-caption {
            margin-left: auto;
        }
    }

    .site-header {
        height: auto;
        max-height: none;
        margin-bottom: 5rem;
    }

}

@media screen and (max-width: 580px) {

    html {
        font-size: 2.2vw;
    }

    .site-header {
        h1 {
            font-size: 1.6rem;
            margin: 0;
            padding: 0 0 0.5rem 0;
        }
        h1 b {
            font-size: 4rem;
        }
    }

}

@media screen and (max-width: 520px) {
    .quote-section {
        margin: 30px 0;
    }
}


@media screen and (max-width: 440px) {
    .in-text-ul {
        list-style: none;
        margin: 40px 0;
        padding-left: 30px;
        text-indent: -30px;
    }

}
@media screen and (max-width: 380px) {
    html {
            font-size: 2.6vw;
        }

    .site-header {
        h1 {
            font-size: 1.4rem;
        }
        h1 b {
            font-size: 3.2rem;
        }
    }
}
