{{ $data := getJSON "Data/СиМ-история.json" }}
<article class="content-wrapper">
    <section class="chapter" id="chapter-3">
        {{ partial "components/chapter_header.html" (dict "num" 3 "year" "1917 – 1930" "text" (index $data.chapter_3 0).Title) }}
        <div class="content-10-column">
            <div class="text-section content-5-column">
                <div class="paragraph-with-img">
                    <p class="text-regular">{{ (index $data.chapter_3 0).Text | safeHTML }}</p>
                    {{ partial "components/img_section.html" (dict "index" 6 "left" "true") }}
                    <p class="text-regular">
                        {{ (index $data.chapter_3 1).Text | safeHTML }}
                        {{ (index $data.chapter_3 2).Text | safeHTML }}
                    </p>
                </div>
            </div>
            {{ partial "components/quote.html" (dict "index" 2) }}
            <div class="text-section content-5-column">
                <div class="paragraph-with-img">
                    <p class="text-regular">{{ (index $data.chapter_3 3).Text | safeHTML }}</p>
                    <p class="text-regular">{{ (index $data.chapter_3 4).Text | safeHTML }}</p>
                    <ul class="in-text-ul">
                    {{ range $i, $r := (index $data.chapter_3 4).Table }}
                    <li>{{ $r | safeHTML }}</li>
                    {{ end }}
                    </ul>
                    {{ partial "components/img_section.html" (dict "index" 5 "left" "true") }}
                </div>
                <p class="text-regular">{{ (index $data.chapter_3 5).Text | safeHTML }}</p>
            </div>
            {{ partial "components/quote.html" (dict "index" 3) }}
        </div>
    </section>
    {{- if eq .Page.Params.type "static" -}}
    <nav class="content-10-column article-pagination">
        <a href='{{ ref . "chapter_4.md" }}' class="next-page" rel="next">Глава 4. Грандиозная реконструкция, знаковые символы эпохи и великая отечественная война</a>
        <a href='{{ ref . "chapter_2.md" }}' class="previous-page" rel="prev">Глава 2. Завод в начале ХХ века</a>
    </nav>
    {{- end -}}
    {{- if eq .Page.Params.type "django_html" -}}
    <nav class="content-10-column article-pagination">
        <a href="{% url 'mmz:rekonstrukciya_zavoda' %}" class="next-page" rel="next">Глава 4. Грандиозная реконструкция, знаковые символы эпохи и великая отечественная война</a>
        <a href="{% url 'mmz:zavod_v_nachale_veka' %}" class="previous-page" rel="prev">Глава 2. Завод в начале ХХ века</a>
    </nav>
    {{- end -}}
</article>