{{ $data := getJSON "Data/СиМ-история.json" }}
<article class="content-wrapper">
    <section class="chapter" id="chapter-2">
        {{ partial "components/chapter_header.html" (dict "num" 2 "year" "1900 – 1917" "text" (index $data.chapter_2 0).Title) }}
        <div class="content-10-column">
            <div class="text-section content-5-column">
                <p class="text-regular">
                    {{ (index $data.chapter_2 0).Text | safeHTML }}
                    {{ (index $data.chapter_2 1).Text | safeHTML }}
                </p>

                <h2 class="longread-h2">{{ (index $data.chapter_2 2).Title | safeHTML }}</h2>
                <p class="text-regular">{{ (index $data.chapter_2 2).Text | safeHTML }}</p>

                <ul class="in-text-ul">
                {{ range $i, $r := (index $data.chapter_2 2).Table }}
                <li>{{ $r | safeHTML }}</li>
                {{ end }}
                </ul>

                <div class="paragraph-with-img">
                    <p class="text-regular">{{ (index $data.chapter_2 3).Text | safeHTML }}</p>
                    <p class="text-regular">
                        {{ (index $data.chapter_2 4).Text | safeHTML }}
                        {{ (index $data.chapter_2 5).Text | safeHTML }}
                    </p>
                    {{ partial "components/img_section.html" (dict "index" 1 "left" "true") }}
                </div>
                <p class="text-regular">{{ (index $data.chapter_2 6).Text | safeHTML }}</p>
                {{ partial "components/number.html" (dict "index" 1) }}
                <div class="paragraph-with-img">
                    <p class="text-regular">
                        {{ (index $data.chapter_2 7).Text | safeHTML }}
                        {{ (index $data.chapter_2 8).Text | safeHTML }}
                    </p><br><br><br>
                    {{ partial "components/img_section.html" (dict "index" 4 "left" "true") }}
                </div>
                <h2 class="longread-h2">{{ (index $data.chapter_2 9).Title | safeHTML }}</h2>
                <p class="text-regular">{{ (index $data.chapter_2 9).Text | safeHTML }}</p>
            </div>
            {{ partial "components/quote.html" (dict "index" 1) }}
            <div class="text-section content-5-column">
                <p class="text-regular">{{ (index $data.chapter_2 10).Text | safeHTML }}</p>
            </div>
        </div>
    </section>
    {{- if eq .Page.Params.type "static" -}}
    <nav class="content-10-column article-pagination">
        <a href='{{ ref . "chapter_3.md" }}' class="next-page" rel="next">Глава 3. Завод после Октябрьской революции</a>
        <a href='{{ ref . "chapter_1.md" }}' class="previous-page" rel="prev">Глава 1. Основание завода</a>
    </nav>
    {{- end -}}
    {{- if eq .Page.Params.type "django_html" -}}
    <nav class="content-10-column article-pagination">
        <a href="{% url 'mmz:zavod_posle_revolucii' %}" class="next-page" rel="next">Глава 3. Завод после Октябрьской революции</a>
        <a href="{% url 'mmz:osnovanie_zavoda' %}" class="previous-page" rel="prev">Глава 1. Основание завода</a>
    </nav>
    {{- end -}}
</article>