{{ $data := getJSON "Data/СиМ-история.json" }}
<article class="content-wrapper">
    <section class="chapter" id="chapter-1">
        {{ partial "components/chapter_header.html" (dict "num" 1 "year" 1883 "text" (index $data.chapter_1 0).Title) }}
        <div class="content-10-column">
            <div class="text-section content-5-column">
                <p class="text-regular">{{ (index $data.chapter_1 0).Text | safeHTML }}</p>
                <p class="text-regular">
                    {{ (index $data.chapter_1 1).Text | safeHTML }}
                    {{ (index $data.chapter_1 2).Text | safeHTML }}
                </p>
                {{ partial "components/number.html" (dict "index" 0) }}
                <div class="paragraph-with-img">
                    <p class="text-regular">
                        {{ (index $data.chapter_1 3).Text | safeHTML }}
                        {{ (index $data.chapter_1 4).Text | safeHTML }}
                    </p>
                    <p class="text-regular">{{ (index $data.chapter_1 5).Text | safeHTML }}</p>
                    {{ partial "components/img_section.html" (dict "index" 2 "left" "true") }}
                    <br><br><br>
                </div>
            </div>
                {{ partial "components/quote.html" (dict "index" 0) }}
            <div class="text-section content-5-column">
                <div class="paragraph-with-img">
                    <p class="text-regular">{{ (index $data.chapter_1 6).Text | safeHTML }}</p>
                    <p class="text-regular">{{ (index $data.chapter_1 7).Text | safeHTML }}</p>
                    {{ partial "components/img_section.html" (dict "index" 3 "left" "true") }}
                    <br><br><br>
                </div>
            </div>
        </div>
    </section>
    {{- if eq .Page.Params.type "static" -}}
    <nav class="content-10-column article-pagination">
        <a href='{{ ref . "chapter_2.md" }}' class="next-page" rel="next">Глава 2. Завод в годы первой революции</a>
        <a href='{{ ref . "prologue.md" }}' class="previous-page" rel="prev">Пролог. Лефортово до последней четверти XIX ека</a>
    </nav>
    {{- end -}}
    {{- if eq .Page.Params.type "django_html" -}}
    <nav class="content-10-column article-pagination">
        <a href="{% url 'mmz:zavod_v_nachale_veka' %}" class="next-page" rel="next">Глава 2. Завод в начале ХХ века</a>
        <a href="{% url 'mmz:history' %}" class="previous-page" rel="prev">Пролог. Лефортово до последней четверти XIX ека</a>
    </nav>
    {{- end -}}
</article>