{{ $data := getJSON "Data/СиМ-история.json" }}
<article>
    <section class="chapter" id="chapter-0">
        <header class="site-header" id="header-container">
            <div id="header-img-frame" class="header-img-frame">
                <img src="https://storage.yandexcloud.net/hh-files/history/photo/cover-slider/shosse-entusiastov_auto_x2-2.jpg">
            </div>
            <div class="text-section">
                <h1><b>лефортовский треугольник</b><br>
                <small>1800 — 2020</small>
                </h1>
                <p>{{ (index $data.chapter_0 0).Intro | safeHTML }}</p>
                <span class="arrow">↓</span>
            </div>

        </header>
        <div id="header-out-trigger"></div>
        <div class="content-wrapper">
            <div class="content-10-column">
                <div class="text-section content-5-column">
                    <p class="text-regular">{{ (index $data.chapter_0 0).Text | safeHTML }}</p>
                    <p class="text-regular">{{ (index $data.chapter_0 1).Text | safeHTML }}</p>
                </div>
                <p class="text-annotation-wide">
                    <i>От автора:</i><br><br>
                    {{ (index $data.chapter_0 3).Intro | safeHTML }}
                </p>
                <div class="text-section content-5-column">
                    {{ partial "components/timeline_navigation.html" . }}
                    <h2 class="longread-h2">История территории до 1883 года</h2>
                    <p class="text-regular">{{ (index $data.chapter_0 2).Text | safeHTML }}</p>
                    <p class="text-regular">
                        {{ (index $data.chapter_0 3).Text | safeHTML }}
                        {{ (index $data.chapter_0 4).Text | safeHTML }}
                    </p>
                </div>
                {{ partial "components/img_section.html" (dict "index" 0) }}
            </div>
        </div>
    </section>
    {{- if eq .Page.Params.type "static" -}}
        <nav class="content-10-column article-pagination">
            <a href='{{ ref . "chapter_1.md" }}' class="next-page" rel="next">Глава 1. Основание завода</a>
        </nav>
        {{- end -}}
        {{- if eq .Page.Params.type "django_html" -}}
        <nav class="content-10-column article-pagination">
            <a href="{% url 'mmz:osnovanie_zavoda' %}" class="next-page" rel="next">Глава 1. Основание завода</a>
        </nav>
    {{- end -}}
</article>
